body {
    background-color: coral;
}

/* Container */

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left-side {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 200px;
    justify-content: flex-end;
    padding: 80px 30px;
    margin: 20px;
    border-right: solid 5px black;
    text-align: right;
} 

/* Header */

header {
    background-color: blue;
    color: white;
    padding: 40px;
}

header nav {
    justify-content: flex-end;
    margin-right: 20px;
}

header nav a {
    color: white;
    padding: 10px;
}

.name {
    padding-left: 25px;
}

/* Banner */

.banner {
    background-color: darkgrey;
    height: 100px;
}

.banner p {
    position: absolute;
    right: 50px;
    top: 160px;
}



/* About Me */

article section {
    margin-left: 20px;
}

/* Projects */

main section {
    gap: 20px;
}

main section {
    flex: 1 0 33%;
    margin: 20px;
    padding: 40px;
    background-color: black;
    color: white;
}

main section h3 {
    text-align: center;
    padding: 10px;
}


/* Contacts */

footer nav {
    position: absolute;
    right: 10px;
    justify-content: center;
    margin-right: 20px;
}

footer nav p {
    padding: 20px;
}

@media screen and (max-width:792px) {
.container {
    flex-direction: column;
    align-items: center;
}
}