:root {
    --h2-size: 24px;
    --accent-color: #95BF74;
    --text1: black;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: #99DDC8;
}

/* Container */

.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.left {
    flex: 0 0 20%;
    margin: 20px;
    padding-right: 30px;
    border-right: 5px solid black;
    padding-bottom: 100px;
    text-align: right;
}

/* Header */

header {
    background-color: #283F3B;
    color: var(--text1);
    padding: 40px;
}

header h1 {
    font-size: 40px;
    padding: 10px 20px;
    padding-left: 150px;
    margin-left: -90px;
    background-color: var(--accent-color);
}

header nav {
    margin-left: auto;
}

header nav a {
    font-size: 20px;
    margin: 20px;
    color: white;
}

/* Banner */

.banner {
    justify-content: flex-end;
    height: 250px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/banner-image.jpeg");
    background-size: cover;
    background-position: center;
}

.banner img {
    margin-right: auto;
    margin-left: 60px;
    padding: 20px;
    height: 250px;
    width: 250px;
}

.subtitle {
    flex-basis: 27%;
    background-color: var(--accent-color);
    padding: 5px;
    padding-right: 100px;
    margin-right: -50px;
    margin-bottom: -12%;
}

/* About Me */

article p {
    flex: 1 0 60%;
    padding: 20px;
    line-height: 1.5;
}

article h2 {
    font-size: var(--h2-size);
}

/* Projects */

#projectContainer {
    flex: 0 0 70%;
}

main h2 {
    font-size: var(--h2-size);
}

main div {
    flex-grow: 1;
}

main div section {
    flex: 1 0 35%;
    margin: px;
    padding: 5px;
}

main div section:nth-child(1) {
    width: 100%;
    flex: 0 0 100%;
}

#Project1 {
    height: 400px;
    width: 700px;
}


main div section h3 {
    padding: 5px;
    text-align: center;
}

main div section p {
    padding: 20px;
    text-align: center;
}

main div section img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
}

/* Contacts */

footer h2 {
    font-size: var(--h2-size);
}

footer nav {
    margin-left: auto;
}

footer nav p {
    padding: 20px;
}


@media screen and (max-width:792px) {

/* Containers */

.left {
        border-right: 0px;
        border-bottom: 5px solid black;
        padding-bottom: 0;
        text-align: right;
}

.container{
    flex-wrap: nowrap;
}

/* Header */

header h1 {
    padding-left: 0;
    margin-left: 0;
    padding: 10px 20px;
}

header nav {
    margin-left: 0;
}

header nav a {
    font-size: 15px;

    margin: 20px;
}

/* Banner */

.banner img {
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    padding: 20px;
    height: 200px;
    width: 200px;
}

.container {
    flex-direction: column;
    align-items: center;
}
.subtitle{
    margin: 0;
    padding: 10px;
}

/* Footer */

.footerContainer {
    margin-left: 0;
}
